.biggerText
{
    font-size:1.5rem;
}
.rightLine
{
    border-right: 1px solid #7b737350
}
.leftLine
{
    border-left: 1px solid #7b737350
}
.topMargin{
    margin-top: 12px;
}
.bigTopMargin{
    margin-top: 28px;
}
.pageLink{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}
#searchInput{
    height: 38px;
}
h1,h2,h3,h4,h5,h6{
    color: #428bca;
}
.sidebar-brand{
    color: #fff!important;
}
.table{
    color: #212529!important;
}
.exerciseDiv{
    margin:3vh;
}